/*Login Page*/
.login-layout {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transition: all 0.3s ease;
}

.login-container {
    max-width: 800px;
    width: calc(100% * 0.9 + 30px);
    transition: all 0.3s ease;
}

.login-header {
    text-align: center;
}

.login-header .login-logo {
    width: 350px;
    padding-bottom: 10px;
}

.login-box {
    padding-top: 10px;
}

.login-footer {
    padding-top: 75px;
    position: relative;
    align-items: center;
    color: silver;
    text-align: center;
    width: 100%;
    height: 100%;
}

/* Dropdown List */
@media only screen and (max-height: 540px) {
    #user-dropdown-menu {
        width: 320px;
        left: 514px;
        right: auto;
        top: 82px;
    }
}

/* Login */
@media (max-width: 584px) {
    .login-box .toolbar>div {
        width: 100%;
        display: grid;
    }

    .login-box .toolbar>div>a {
        text-align: center;
        padding: 3px 0;
    }

    .min-width-100 {
        width: 100% !important;
    }

    .login-layout {
        padding: 0;
    }

    .login-container {
        width: 100%;
        padding-bottom: 100px;
    }

    .login-header h5 {
        font-size: small;
    }

    .login-header .login-logo {
        width: calc(100% * 0.75);
        max-width: 484px;
        transition: all 1s ease;
    }

    .login-box {
        margin: 0 7px 0 7px
    }

    .login-footer {
        left: 0;
        display: grid;
        position: fixed;
        height: 100px;
        background-color: #333333;
        bottom: 0;
    }

    .login-footer .copyright {
        position: absolute;
        font-size: 0.8em;
        padding: 10px;
    }
}

/* Dashboard */
@media screen  and (max-width: 480px){
    .dashboard-box {
        width: 100%;
        margin-bottom: 2.5em;
    }

    .total-box{
        margin-bottom: 2em;
    }
}