@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
}
.hb-border {
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 3px;
}
.hb-container {
    max-width: 800px;
    width: 100%;
    background-color: white;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    transition: ease all .5s;
    overflow-y: auto;
}
.hb-container .hb-title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.hb-container .hb-title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(90deg, orange, darkcyan)
}
.hb-container form{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: stretch;
    -webkit-box-align: stretch;
    justify-content: space-between;
    margin: 25px 0 12px 0;
    transition: ease all .5s;
}
.hb-container form .hb-input-group{
    margin-bottom: 15px;
}
form .hb-input-group {
    width: calc(100% / 2 - 20px);
}
.hb-input-group.w-100{
    width: 100%;
}
.hb-input-group #searchbar{
    display: table;
    border-collapse: collapse;
}
.hb-input-group#searchbar> div{
    display: table-cell;
    vertical-align: middle;  /* needed for Safari */
}
.hb-input-group-prepend, .hb-input-group-append{
    color: #777;
}
.hb-input-group-prepend select,
.hb-input-group-append button{
    height: 40px;
}
.hb-input-group-prepend select{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.hb-input-group-append button{
    display: flex;
    padding: 0 12px;
    border-radius: 0 5px 5px 0;
    align-items: center;
}
.hb-input-group-append .btn.btn-secondary{
    background-color: var(--color-blue-300)!important;
    border-color: var(--color-blue-300)!important;
    border-radius: 0;
}
.hb-input-group-area{
    width: 100%;
    margin-right: 10px;
}
.hb-input-box.hb-input-group-area input {
    width: 100%;
    padding: 0 12px;
    border-radius: 0!important;
}
.hb-input-group-prepend{}
.hb-input-group-append{}
.hb-input-group .hb-input-box{
    height: 45px;
    width: 100%;
}
.hb-input-group label.hb-detail{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.hb-input-box input{
    height: 40px;
    width: 100%;
    outline: 0;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    /*-moz-border-radius: 5px;*/
    /*-webkit-border-radius: 5px;*/
    border-radius: 5px!important;
    overflow: hidden;
    -webkit-appearance: none;
    padding-left: 10px;
    font-size: 16px;
    transition: all 0.3s ease;
}
.hb-input-box select:focus{
    border-color: #edab12;
}
.hb-input-box input:focus{
    border-color: #edab12;
}
.hb-input-group .hb-input-box select{
    height: 40px;
    width: 100%;
    outline: none;
    border-radius: 5px!important;
    -moz-border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 10px;
    font-size: 16px;
}
.hb-attachment{
    width: 100%;
}
.hb-attachment input{
    font-size: 16px;
    font-weight: 300;
}
form .hb-button{
    width: 100%;
    height: 45px;
    margin: 35px 0;
}
form .hb-button input{
    border-radius: 5px;
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, orange, cyan)
}
form .hb-button input:hover{
    background: linear-gradient(-135deg, orange, cyan)
}

@media(max-width: 584px){
    .hb-container {
        height: 100%;
        position: relative;
        max-width: 100%;
    }
    .hb-container form .hb-input-group{
        margin-bottom: 5px;
    }
    .hb-container form{
        margin: 25px 0 0 0;
        max-height: calc(100% * 0.86);
        overflow-y: auto;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
    .hb-container::-webkit-scrollbar {
        display: none;
    }
    form .hb-input-group {
        margin-bottom: 5px;
        width: 100%
    }
}

